{% extends 'base.html.twig' %}

{% block title %}Indentifiez-vous !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/security.css') }}">
{% endblock %}

{% block body %}
<form method="post">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div id="register_container">
        <h1 class="h3 mb-3 font-weight-normal">Veuillez vous enregistrer</h1>

        <div class="form-group">
            <label for="inputEmail">adresse e-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control textbox" required autofocus>
        </div>

        <div class="form-group">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control textbox" required autofocus>
        </div>

        <div class="form-check remember">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="_remember_me">
                Se Souvenir
            </label>
        </div>
        <div class="sigin_btn">
            <button class="btn btn-lg btn-info" type="submit">confirmer</button>
        </div>
        <div>
            <hr>
            <label for="">pas encore de compte ?</label><a class="login_btn" href="{{ path('app_register') }}">enregistrez-vous</a>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </div>

</form>
{% endblock %}
