{% extends 'base.html.twig' %}

{% block title %}Indentifiez-vous !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/security.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/base.css') }}">
{% endblock %}

{% block body %}

    {% if error %}
        <script>
            $(document).ready(function() {
                $("#msg").fadeIn("slow").fadeTo(8000, 8000).fadeOut("slow");
            });
        </script>

        <div id="msg" class="msg_error alert alert-dismissible alert-danger" style="display: none">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Erreur !</strong> <br> {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>

    {% endif %}


<form method="post">

    <div id="register_container">
        <h1 class="h3 mb-3 font-weight-normal">Veuillez vous Indentifier </h1>

        <div class="form-group"
            <label for="inputEmail">adresse e-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control textbox" required autofocus>
        </div>

        <div class="form-group">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control textbox" required autofocus>
        </div>

        <div class="form-check remember">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="_remember_me" checked>
                Se Souvenir
            </label>
        </div>
        <div class="sigin_btn">
            <button class="btn btn-lg btn-info" type="submit">confirmer</button>
        </div>
        <div>
            <hr>
            <label for="">pas encore de compte ?</label><a class="login_btn" href="{{ path('app_register') }}">enregistrez-vous</a>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </div>

</form>
{% endblock %}
