
{% block nav %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Navbar</font></font></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Basculer la navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_home') }}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Accueil
                        </font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(actuel)</font></font></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fonctionnalités</font></font></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tarification</font></font></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">À propos de</font></font></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Menu déroulant</font></font></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">action</font></font></a>
                    <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Une autre action</font></font></a>
                    <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Autre chose ici</font></font></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lien séparé</font></font></a>
                </div>
            </li>
        </ul>

        {% if app.user %}
            <ul class="avatar-nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item avatar dropdown d-flex align-items-center">

                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">

                        {% if null == user.avatar %}
                            <i class="fa fa-fw {{ user is not null ? 'fa-user-circle' : 'fa-user-times' }} user-avatar"></i>
                        {% else %}
                            <img class="rounded-circle z-depth-0" alt="avatar image" src="{{ user.avatar }}" />
                        {% endif %}

                        <span class="user-name">{{ user.username }}</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdownMenuLink-55">
                        <a class="dropdown-item" href="{{ path('app_profile') }}">Profile</a>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnection</a>
                    </div>
                </li>
            </ul>
        {% else %}
            <ul id="login_link">
                <li><a class="dropdown-item" href="{{ path('app_login') }}">Login</a></li>
                <li><a class="dropdown-item" href="{{ path('app_register') }}">Enregistrement</a></li>
            </ul>
        {% endif %}

    </div>
</nav>

{% endblock %}